.navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0083F8;
}

.titulo  {
    font-size: 3rem;
    color: #000;
    background-color: #0083F8;
}

.subtitulo {
    font-size: 2rem;
}

.img {
    width: 100px;
    height: 100px;
}